*{
    padding: 0px;
    margin: 0px;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    border-radius: 45px;
    margin: 1.5vh auto auto auto;
    width: 94vw;
    height: 10vh;
}
.tab{
    display: flex;
    gap: 1.5vw;
    margin: auto 8vw auto 13vw;
    font-size: 20px;
    color: gray;
}

.search{
    display: flex;
    font-size: 20px;
    gap: 5px;
    margin-right: 3vh;
}
.inp{
    border-radius: 5px;
    height: 3vh;
}
.self{
border-radius: 3px;
background-color: black;
color: white;
}
.firstback{
    background-image: url(mainback.jpg);
    width: 94vw;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    top: 2.5vh;
    z-index: -2;
    margin: auto;
    border-radius: 45px;
    background-position: center center;
}
.darker{
    background-color: black;
    opacity: 0.44;
    position: absolute;
    width: 94vw;
    z-index: -1;
    border-radius: 45px;
    height: 70vh;
}
.headtext{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94vw;
    border-radius: 45px;
    height: 70vh;
    flex-direction: column;
    color: white;
    font-size: 80px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.text{
font-size: 17px;
height: 10vh;
width: 22vw;
color: white;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.rece{
    height: 5vh;
    width: 13VW;
    font-size: 20px;
    border-radius: 4vh;
    background-color: orange;
}